[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
    ignore = dirty
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/copycat-killer/awesome-copycats
    ignore = dirty
[submodule ".vim/bundle/vim-move"]
	path = .vim/bundle/vim-move
	url = gh:matze/vim-move.git
    ignore = dirty
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
	url = gh:terryma/vim-expand-region.git
    ignore = dirty
