/*
/*/
!.config/
.config/*
!.config/awesome/
!.config/gtk-3.0/
!.config/dircolors
!.config/user-dirs.dirs
!.colors/
!.cvimrc
!.dircolors*
!.gitconfig
!.gitignore
!.pentadactylrc
!.vimperatorrc
!.vim/
!.vimrc
!.xbindkeysrc*
!.xinitrc
!.Xmodmap
!.xprofile
!.Xresources
!.zsh/
!.zshrc
