/*
/*/
!.config/
.config/*
!.config/autorandr/
!.config/awesome/
!.config/geany/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/dircolors
!.config/systemd/
!.config/user-dirs.dirs
!.colors/
!.cvimrc
!.dircolors*
!.gitconfig
!.gitignore
!.gtkrc*
!.icons/
!.pentadactylrc
!.themes/
!.tmux.conf
!.vimperatorrc
!.vim/
!.vimrc
!.xbindkeysrc*
!.xinitrc
!.Xmodmap
!.xprofile
!.Xresources
!.zsh/
!.zshrc
