! {{{ xft
Xft.antialias:               1
Xft.autohint:                0
Xft.dpi:                     96
Xft.hinting:                 1
Xft.hintstyle:               hintfull
Xft.lcdfilter:               lcddefault
Xft.rgba:                    rgb
! }}}

! {{{ urxvt
! General
*URxvt.perl-ext-common:      default,matcher
*URxvt.matcher.button:       1
*URxvt.url-launcher:         firefox

! Scrolling
*URxvt.mouseWheelScrollPage: false
*URxvt.scrollTtyKeypress:    true
*URxvt.scrollWithBuffer:     false
*URxvt.scrollTtyOutput:      false

! Cursor
*URxvt.cursorBlink:          false
*URxvt.cursorColor:          #657b83
*URxvt.cursorUnderline:      false
*URxvt.pointerBlank:         true

! Appearance
*URxvt.scrollBar:            false
*URxvt.font:                 xft:DejaVu Sans Mono:pixelsize=13
*URxvt.geometry:             60x26
*URxvt.saveLines:            40000
*URxvt.externalBorder:       0
*URxvt.internalBorder:       0
*URxvt.foreground:           #657b83
*URxvt.depth:                32
*URxvt.transparent:          false
*URxvt.fading:               0
*URxvt.allow_bold:           false
*URxvt.letterSpace:          -1
! }}}

! {{{ urxvt_drop
!urxvt_drop*inheritpixmap:  true
urxvt_drop*depth:           32
urxvt_drop*background:      rgba:0000/0000/0000/aaaa
urxvt_drop*shading:         40
!urxvt_drop*fading:         30

!urxvt_drop_t*inheritpixmap: true
urxvt_drop_t*depth:         32
urxvt_drop_t*background:    rgba:0000/0000/0000/aaaa
urxvt_drop_t*shading:       40
!urxvt_drop_t*fading:       30

!urxvt_drop_r*inheritpixmap: true
urxvt_drop_r*depth:         32
urxvt_drop_r*background:    rgba:0000/0000/0000/aaaa
urxvt_drop_r*shading:       40
!urxvt_drop_r*fading:       30
! }}}
!-----------------------------------------------------------------------
! {{{ solarized dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!!! red dark/light
*color1:                S_red
*color9:                S_orange

!!! green dark/light
*color2:                S_green
*color10:               S_base01

!!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!!! white dark/light
*color7:                S_base2
*color15:               S_base3
! }}}

! {{{ solarized light
!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3
!
!*background:            S_base3
!*foreground:            S_base00
!*fadeColor:             S_base3
!*cursorColor:           S_base01
!*pointerColorBackground:S_base1
!*pointerColorForeground:S_base01
!
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900
!
!!! black dark/light
!*color0:                S_base02
!*color8:                S_base03
!
!!! red dark/light
!*color1:                S_red
!*color9:                S_orange
!
!!! green dark/light
!*color2:                S_green
!*color10:               S_base01
!
!!! yellow dark/light
!*color3:                S_yellow
!*color11:               S_base00
!
!!! blue dark/light
!*color4:                S_blue
!*color12:               S_base0
!
!!! magenta dark/light
!*color5:                S_magenta
!*color13:               S_violet
!
!!! cyan dark/light
!*color6:                S_cyan
!*color14:               S_base1
!
!!! white dark/light
!*color7:                S_base2
!*color15:               S_base3
! }}}
